@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'greycliff';
    src: url('fonts/greycliffcf-bold.otf') format('opentype');
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: theme('colors.light');
  color: theme('colors.dark');
}

.primary-button {
  font-family: 'greycliff';
  background: theme('colors.green');
  color: theme('colors.white');
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
}
