@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'greycliff';
    src: url('../fonts/greycliffcf-bold.otf') format('opentype');
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: theme('colors.light');
  color: theme('colors.dark');
}

.welcome-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 6.44%,
    #ffffff 95.08%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-button {
  font-family: 'greycliff';
  background: theme('colors.green');
  color: theme('colors.white');
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
}

.secondary-button {
  font-family: 'greycliff';
  background: transparent;
  color: theme('colors.green');
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid theme('colors.green');
}

.primary-icon-button {
  width: 2.5rem;
  height: 2.5rem;
  background: theme('colors.light');
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-icon-button {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
